/* Custom CSS variables */

:root {
    --main-font-family: "Roboto", sans-serif;
    --main-bg-color: #fff;
    --main-text-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --dark-bg-color: #2F303A;
    --base-size: 16px;
    --soft-box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    --small-circled: 4px;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Main styles */

body {
    font-size: var(--base-size);
    font-family: var(--main-font-family);
    letter-spacing: 0.03em;
    line-height: 1.2;
    color: var(--main-text-color);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

footer {
    padding: 60px 0;
    background-color: var( --dark-bg-color);
    width: 100vw;
    position: relative;
    left: 49%;
    margin-left: -50vw;
}

address {
    margin-top: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation {
    height: 80px;
    padding: 25px 0;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-c {
    justify-content: center;
    align-items: center;
}

.features-flex-container {
    display: inline-flex;
}

.contacts {
    display: inline-flex;
    margin-left: 280px;
}

.contacts .link {
    font-size: 14px;
    color: var(--secondary-color);
}

.contacts .link:not(:last-child) {
    margin-right: 50px;
}

.menu-nav {
    width: 295px;
    display: inline-flex;
    justify-content: space-between;
}

.item .link {
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    display: block;
}

.hero {
    min-width: 100vh;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--dark-bg-color);
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 95px 0;
}

.features .list-item {
    width: 270px;
}

.features .list-item:not(:last-child) {
    margin-right: 20px;
}

.image-grid {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.link:hover, .link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.button {
    font-weight: 700;
    font-size: var(--base-size);
    line-height: 1.87;
    letter-spacing: .06em;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border: none;
    cursor: pointer;
    border-radius: var(--small-circled);
    padding: 10px 32px;
    background-color: #2196f3;
    color: var(--main-bg-color);
}

.button:active {
    outline: none;
    transform: translateY(2px);
}

.button:focus {
    outline: none;
}

.secondary-nav {
    padding-top: 50px;
    padding-bottom: 50px;
}

.site-nav {
    display: flex;
    justify-content: center;
}

.site-nav .button {
    display: block;
}

.site-nav-item:not(:last-child) {
    margin-right: 10px;
    background-repeat: 4px;
}

.filter-btn {
    font-size: var(--base-size);
    font-weight: 500;
    line-height: 1.62;
    color: var(--main-text-color);
    padding: 6px 22px;
    background-color: #F5F4FA;
    border: none;
    cursor: pointer;
    display: inline-flex;
    border-radius: var(--small-circled);
}

.filter-btn:active {
    outline: none;
    transform: translateY(2px);
}

.filter-btn:focus {
    outline: none;
}

.filter-btn:hover {
    background-color: #2196f3;
    color: var(--main-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: var(--main-bg-color);
    display: block;
    width: 700px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin: 0 auto 30px;
}

.page-title-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    color: var( --main-text-color);
    margin-bottom: 10px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    color: var( --main-text-color);
    margin-bottom: 50px;
}

.works {
    padding-bottom: 95px;
}

.page-title-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var( --secondary-color);
}

.team-card {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: var( --main-text-color);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.person {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 3%;
    text-align: center;
    margin-bottom: 10px;
}

.team-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--secondary-color);
}

.our-team {
    background: #F5F4FA;
    padding-top: 95px;
    padding-bottom: 95px;
}

.our-team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-card-body {
    padding: 30px;
}

.footer-contacts {
    font-style: normal;
}

.footer-contacts-item:not(:last-child) {
    padding-bottom: 10px;
    color: var(--main-bg-color);
}

.footer-contacts-item .link {
    color: var(--secondary-color);
}

.footer-contacts-item .link:hover {
    color: var(--accent-color);
}

footer .logo {
    color: var(--main-bg-color);
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    color: var(--main-text-color);
    margin-right: 90px;
}

.logo-highlight {
    color: var(--accent-color);
}

.portfolio {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: .06em;
    color: var(--main-text-color);
}

.portfolio-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-color);
}

.portfolio-example {
    display: flex;
}

.h-line {
    border-bottom: 1px solid #eee;
}

.portfolio-title {
    display: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #eee;
}

.grid-item:nth-child(3n) {
    margin-right: 0;
}

.grid-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: .06em;
    color: var(--main-text-color);
    margin-bottom: 5px;
}

.grid-item-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.card-info {
    padding: 20px 24px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}